.forgot-password-container {
    min-height: 70vh;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .forgot-password-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;

  }
  
  .forgot-password-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forgot-password-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .forgot-password-button:hover {
    background-color: #0056b3;
  }
  
  .forgot-password-message {
    margin-top: 20px;
    text-align: center;
    color: green;
  }

  @media (max-width: 780px){
    .forgot-password-title {
        margin-bottom: 15px;
        color: #333;
        font-size: 2rem;
      }

  }
  