
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* background-color: #333; */
}

.navbar-logo {
  font-size: 1.5rem;
  color: inherit;
}

.navbar-links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-link {
  margin-left: 5%;
  text-decoration: none;
}

.signup-hamburger-container{
  display: flex;
}

.navbar-actions {
  display: flex;
  align-items: center;
}

.navbar-button {
  background: none;
  border: 1px solid;
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
  cursor: pointer;
  color: inherit;
}

.mobile-navbar-btn {
  display: none;
  cursor: pointer;
}

.mobile-nav-icon {
  font-size: 2rem;
  color: inherit;
}

@media (max-width: 768px) {
  .navbar-links-container {
    position: absolute;
    top: 100%;
    right: 0;
    height: vh;
    width: 90%;
    opacity: 0.95;
    background-color: rgb(119, 122, 124);
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 1rem;
  }

  .navbar-links-container.open {
    display: flex;
  }

  .signup-hamburger-container{
    width: 29%;
    justify-content: space-between;
  }
  

  .navbar-link {
    margin: 1.5rem 0;
    font-weight: 700;
  }

  .mobile-navbar-btn {
    display: block;
  }
}

@media (max-width: 560px){
  .signup-hamburger-container{
    width: 40%;
  }
}
