.text-container {
    /* Base styles for the text container */
    font-size: 1rem; /* Adjust font size as needed */
    /* margin: 2rem; Adjust margin as needed */
    padding-top: 9rem; /* Adjust padding as needed */
    padding-bottom: 3rem; /* Adjust padding as needed */
    border: 1px solid #ddd; /* Optional border */
    border-radius: 5px; /* Optional rounded corners */
    text-align: center; /* Center align the text by default */
  }
  
  @media (max-width: 768px) {
    /* Styles for smaller screens */
    .text-container {
      font-size: 0.8rem; /* Adjust font size for smaller screens */
    }
  }
  