.button_container button{
    border: none;
    padding: 10px 20px;
    /* background-color: aqua; */
    /* background-color: '#fff'; */
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    /* transform: isActive || isClicked ? 'translateY(2px)' : 'none';
    opacity: isActive || isClicked ? 0.8 : 1; */
}

.secret-page {
    text-align: center;
    align-items: center;
}

.secret-page button{
    margin: 2rem auto;
    padding: 0.7rem 1.2rem;
    opacity: 1;
    color: black;
    font-weight: bold;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.secret-page button:hover {
    background-color: rgb(136, 136, 200);
}
