.button_container button{
    border: none;
    padding: 10px 20px;
    /* background-color: aqua; */
    /* background-color: '#fff'; */
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    /* transform: isActive || isClicked ? 'translateY(2px)' : 'none';
    opacity: isActive || isClicked ? 0.8 : 1; */
}