.features_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* width: 90%;
    max-width: 1000px;
    padding: 2rem; */
  }
  
  .text_section {  
    margin: 0 5px;  
    margin-bottom: 0;
    text-align: center;

  }
  
  .text_section h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .text_section p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .features {
    display: flex;
    justify-content: center;
    padding:1rem;
  }
  
  
  /* Media queries for responsiveness */
  
  @media (max-width: 768px) {
    .features_container {
      flex-direction: column;
 
    }
    .features {
        flex-direction: column;
        width: 100%;
        align-items: center;
      }
  
    .text_section h1 {
      font-size: 2rem;
    }
  
    .text_section p {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 480px) {
  
    .text_section h1 {
      font-size: 1.5rem;
    }
  
    .text_section p {
      font-size: 1rem;
    }
  }